@model TripstreakReports.Models.MixpanelModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>Mixpanel Dashboard</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Mixpanel</li>
    </ol>

    <section class="content">

        <div id="Messages">
            @if (!string.IsNullOrEmpty(@ViewBag.MessageAlert))
            {
                string message = ViewBag.MessageAlert;
                if (message.ToLower().StartsWith("success"))
                {
                <div class="alert alert-success">
                    <strong>@ViewBag.MessageAlert</strong>
                </div>
                }
                else if (message.ToLower().StartsWith("error"))
                {
                <div class="alert alert-danger">
                    <strong>@ViewBag.MessageAlert</strong>
                </div>
                }
            }
        </div>



        <div id="env" class="make-switch " align="center">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding: 0px !important;">
                            <h6 class="panel-title"><strong>Environment</strong></h6>
                        </div>
                        <div class="panel-body">
                            @Html.CheckBoxFor(m => m.IsProdEnvironemt, new { @class = "probeProbe", @id = "environment", @data_toggle = "toggle", @data_on = "Production", @data_off = "Stage", @data_onstyle = "success", @data_offstyle = "warning" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Preconfigured Reports</h3>
                         <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                    </div>

                    <div class="box-body">
                        <div align=""><b>Select the report to download</b></div>
                        </br>
                       
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="">
                                    <label>
                                        <input type="radio" name="r3" class="flat-red">
                                    </label>
                                    User FFP Program Preference Rank.
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="r3" class="flat-red">
                                    </label>
                                    Number of user actually input FFP/rank miles as #1.
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="r3" class="flat-red">
                                    </label>
                                    Top 10 FFP Programs of all users.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div align="center">
                            <button type="submit" class="btn btn-primary" id="PreconfiguredReportsSubmitButton"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Download Report</button>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
        <!-- /.col -->

        <!-- /.row -->
    </section>
</section>
